{%  extends 'home-base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div id="flash-messages" class="flash-container">
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<div class="login-container">       
    <p>Please enter the email address associated with your account. We'll promptly send you a recovery code to reset your password.</p>
    <form class="forms" id="resetForm" method="POST">
        <div class="input-group">
            <input type="email" placeholder="Email address" name="email">
        </div>
        <span id="errorMessage" class="error-message">This field is required</span>
        <button type="submit" class="login-btn">Send reset link</button>
    </form>
</div>

<script>
    // Auto-hide flash messages after 5 seconds
    setTimeout(function() {
        const flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
            flashMessages.style.display = 'none';
        }
    }, 3000); // 5000 ms = 5 seconds
</script>
{% endblock %}
    
