{%  extends 'home-base.html' %}
{% block title %} Password {% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div id="flash-messages" class="flash-container">
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="login-container">            
   
        
        <h1>Set Password</h1>
    
        <form action="{{ url_for('resetPassword', user_email=request.args.get('user_email')) }}" method="POST">
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="password">
            <i class="fas fa-eye password-icon" id="togglePassword"></i>
        </div>

        <div class="input-group">
            <label for="confpassword">Confirm Password</label>
            <input type="password" id="confpassword" placeholder="Confirm Password" name="confpassword">
            <i class="fas fa-eye password-icon" id="toggleConfPassword"></i>
            <div id="confirmMessage" class="danger"></div>
        </div>
        <div class="input-group"><button type="submit" class="login-btn"> Set Password</button></div>
    </form>
    
</div>

<script>
    // Auto-hide flash messages after 5 seconds
    setTimeout(function() {
        const flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
            flashMessages.style.display = 'none';
        }
    }, 3000); // 5000 ms = 5 seconds
</script>
{% endblock %}