{%  extends 'home-base.html' %}

{% block meta %} {% endblock %}
    
{% block title %} Techify {% endblock %}  
{% block back1 %}{% endblock %}
{% block back2 %}{% endblock %}


{%  block container1 %}
{% endblock %}

{% block content %}
<div class="orders-container">
    <div class="tabs">
        <div class="tab active" onclick="showTab('all')">All</div>
        <div class="tab" onclick="showTab('recieved')">Recieved</div>
        <div class="tab" onclick="showTab('pending')">Pending</div>
        <!--<div class="tab" onclick="showTab('shipped')">Shipped</div>-->
    </div>
    
    <div class="content" id="all">
        <table>
            <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Order Date</th>
                    <th>Shipping Address</th>
                    <th>Billing Address</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Details</th> 
                </tr>
            </thead>
            <tbody>
                {% for order, shipping_street, shipping_city, shipping_state, shipping_country, shipping_postal_code, billing_street, billing_city, billing_state, billing_country, billing_postal_code in orderdata.items %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.created_at }}</td>
                <td>
                    {{ shipping_street }}, {{ shipping_city }}, {{ shipping_state }}, {{ shipping_country }} - {{ shipping_postal_code }}
                </td>
                <td>
                    {{ billing_street }}, {{ billing_city }}, {{ billing_state }}, {{ billing_country }} - {{ billing_postal_code }}
                </td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <!-- Right chevron arrow that links to order details -->
                    <a href="/order_details/{{ order.order_id }}" class="details-link">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                </td>
                </tr>
                {% endfor %}
            </tbody>    
        </table>
        <div class="pagination">
            {% if orderdata.has_prev %}
                <a href="javascript:void(0);" onclick="goToPageMyOrder('{{ orderdata.prev_num }}')"><span class="material-symbols-outlined" >chevron_left</span></a>
            {% else %}
                <span class="disabled-next material-symbols-outlined" >chevron_left</span>
            {% endif %}
            {% for page_num in orderdata.iter_pages() %}
                {% if page_num == orderdata.page %}
                    <span class="current-page">{{ page_num }}</span>
                {% else %}
                    <a href="javascript:void(0);" onclick="goToPageMyOrder('{{ page_num }}')">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
            {% if orderdata.has_next %}
                <a href="javascript:void(0);" onclick="goToPageMyOrder('{{ orderdata.next_num }}')"><span class="material-symbols-outlined" >chevron_right</span></a>
            {% else %}
                <span class="disabled-next material-symbols-outlined" >chevron_right</span>
            {% endif %}
        </div>
    </div>


    <div class="content" id="recieved" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Order Date</th>
                    <th>Shipping Address</th>
                    <th>Billing Address</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Details</th> 
                </tr>
            </thead>
            <tbody>
                {% for order, shipping_street, shipping_city, shipping_state, shipping_country, shipping_postal_code, billing_street, billing_city, billing_state, billing_country, billing_postal_code in order_delivered %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.created_at }}</td>
                <td>
                    {{ shipping_street }}, {{ shipping_city }}, {{ shipping_state }}, {{ shipping_country }} - {{ shipping_postal_code }}
                </td>
                <td>
                    {{ billing_street }}, {{ billing_city }}, {{ billing_state }}, {{ billing_country }} - {{ billing_postal_code }}
                </td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <!-- Right chevron arrow that links to order details -->
                    <a href="/order_details/{{ order.order_id }}" class="details-link">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                </td>
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>


    <div class="content" id="pending" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Order Date</th>
                    <th>Shipping Address</th>
                    <th>Billing Address</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Details</th> 
                </tr>
            </thead>
            <tbody>
                {% for order, shipping_street, shipping_city, shipping_state, shipping_country, shipping_postal_code, billing_street, billing_city, billing_state, billing_country, billing_postal_code in order_pending %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.created_at }}</td>
                <td>
                    {{ shipping_street }}, {{ shipping_city }}, {{ shipping_state }}, {{ shipping_country }} - {{ shipping_postal_code }}
                </td>
                <td>
                    {{ billing_street }}, {{ billing_city }}, {{ billing_state }}, {{ billing_country }} - {{ billing_postal_code }}
                </td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <!-- Right chevron arrow that links to order details -->
                    <a href="/order_details/{{ order.order_id }}" class="details-link">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                </td>
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>
</div>

<script>
    function showTab(tabId) {
    // Remove active class from all tabs
    const tabs = document.querySelectorAll('.tab');
    tabs.forEach(tab => tab.classList.remove('active'));

    // Hide all content sections
    const contents = document.querySelectorAll('.content');
    contents.forEach(content => content.style.display = 'none');

    // Activate the selected tab and show corresponding content
    document.querySelector(`.tab[onclick="showTab('${tabId}')"]`).classList.add('active');
    document.getElementById(tabId).style.display = 'block';
}


    

    function goToPageMyOrder(page) {

        window.location.href = `/my_orders?page=${page}`; 

    }
    // Modify goToPage1 to include selected criteria in the URL
    function goToPage1(page) {
        const searchQuery = document.getElementById('searchOrderss').value;
        const url = new URL(window.location.href);
        url.searchParams.set('page', page);
        url.searchParams.set('search', searchQuery);
        url.searchParams.set('criteria', selectedCriteria);
        window.location.assign(url.toString());  // Use assign to reload the page with the new parameters
    }
</script>
{% endblock %}